@font-face {
    font-family: "WebPlus_IBM_VGA_8x16";
    src: url('/WebPlus_IBM_VGA_8x16.woff');
}

/* CRT Screen Styling */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden; */
  }
  
  .crt-screen {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background: radial-gradient(circle, rgba(0,255,0,0.2) 0%, rgba(0,0,0,1) 70%);
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
  }
  
  .terminal {
    color: #78FF32 ;
    font-family: "WebPlus_IBM_VGA_8x16", Inconsolata, monospace;
    font-size: 1.5rem;
    text-shadow: 0 0 2px #78FF32 ;
    white-space: normal; /* Prevent wrapping */
    display: flex; /* Allow elements to stay in one line */
    position: relative;
    justify-content: start;
    margin-left: 5%;
    margin-top: 5%;
    flex-direction: row;
  }
  
  .prompt {
    color: #78FF32 ;
    white-space: normal; /* Prevent wrapping */
  }
  
  .text-container {
    display: inline; /* Keeps everything inline */
    position: relative;
  }
  
  .cursor {
    display: inline-block;
    animation: blink 0.7s steps(2, start) infinite;
  }

  .crt-frame {
    pointer-events:none;
    z-index:9000;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%
  }


  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 2s forwards;
  }
  
  @keyframes fadeOut {
    100% {
      opacity: 0;
    }
  }
  