:root {
  --isPrompt2Visible: hidden;
}

@font-face {
    font-family: "WebPlus_IBM_VGA_8x16";
    src: url('/WebPlus_IBM_VGA_8x16.woff');
}

/* CRT Screen Styling */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden; */
  }
  

  .motd {
    color: #ecfff0;
    font-family: "WebPlus_IBM_VGA_8x16";
    padding-bottom: 5px;
  }
  
  .divider {
    display: block; /* Ensure dividers are stacked */
    margin-bottom: 5px; /* Add spacing between dividers */
  }

  .crt-screen {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background: radial-gradient(circle, rgba(0,255,0,0.14) 0%, rgba(0,0,0,1) 70%);
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
  }
  
  .terminal {
    color: #78FF32 ;
    font-family: "WebPlus_IBM_VGA_8x16", Inconsolata, monospace;
    font-size: 1.5rem;
    text-shadow: 0 0 3px #47971f ;
    white-space: normal; /* Prevent wrapping */
    display: flex; /* Allow elements to stay in one line */
    position: relative;
    justify-content: start;
    margin-left: 4%;
    margin-top: 3%;
    flex-direction: row;
  }

  .prompt {
    color: #78FF32 ;
    white-space: normal; /* Prevent wrapping */
    display: inline-block;
  }
  
  .prompt2 {
    color: #78FF32;
    white-space: normal; /* Prevent wrapping */
    display: block;
    visibility: var(--isPrompt2Visible);
  }
  

  .text-container {
    display: inline; /* Keeps everything inline */
    position: relative;
  }
  
  .cursor {
    display: inline-block;
    animation: blink 0.7s steps(2, start) infinite;
  }

  .crt-frame {
    pointer-events:none;
    z-index:9000;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%
  }


  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 2s forwards;
  }
  
  @keyframes fadeOut {
    100% {
      opacity: 0;
    }
  }
  